.app {
  .brand {
    position: absolute;
    top: 10px;
    left: 5px;
    $size: 40px;
    display: inline-block;
    background: #2d2d2d url('../Home/logo.png') no-repeat center center;
    width: $size;
    height: $size;
    background-size: 80%;
    margin: auto;
    border-radius: $size / 2;
  }
  nav :global(.fa) {
    font-size: 2em;
    line-height: 20px;
  }
}

.searchResult {
  background-color: rgba(230, 230, 230, .8);
  position: absolute;
  z-index: 100;
  top: 60px;
  width: 320px;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  min-height: 0;
  // max-height: 90vh;
  overflow-y: scroll;
  .searchResultRow {
    display: flex;
  }
}


.appContent {
  margin: 50px 0; // for fixed navbar
  position: relative;
}

.notifs {
  position: absolute;
  top: 0;
  margin: 15px 0;
}

:global(.form-control-feedback) {
  text-align: inherit;
}
